ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  display: flex;
}

/* create padding/space between MyMessages & New Post */
.spacer {
  flex: 1 1 auto;
}
